body {
    --color-primary: 246, 42, 160;
    --color-primary-light: 255, 241, 159;
    --color-secondary: 38, 223, 208;
    --color-blur-background: var(--color-primary);
    --page-width: 1512px;
    --transition: 250ms ease-in-out;

    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background: #20beb1;
    font-family: 'Poppins', sans-serif;
}
